*{
margin: 0;
    padding: 0;
}

.widget-user .widget-user-username {
margin-top: 0;
margin-bottom: 5px;
color: #fff;
font-size: 25px;
font-weight: 400;
text-shadow: 0 1px 1px rgb(0, 0, 0);
z-index: 9999999;
}

.profile-user-img
{
margin: 0 auto;
width: 150px;
padding: 3px;
border: 3px solid #d2d6de;
}

#circle{
border-radius: 50%;
-moz-border-radius: 50%;
-webkit-border-radius: 50%;
}

ul,
ol {
margin-top: 0;
margin-bottom: 10px;
margin-left: 20px;
}


.user-panel>.image>img {
    width: 100%;
    max-width: 45px;
    height: 45px;
}


#div-add{
    width: 343px;
    height: 218px ;
    border-width: 1px;
    border-style: dashed;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: url('/images/homepage/add1.png'); background-size: cover;
}

#add{
    padding: 40px;
    color: #111 ;
}


#myModal{
    background-image: url('../images/homepage/background.jpg');
}

