/*reset password style*/
.gym-outside {
    background: url("../images/image_login/backgroud-gym.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    color: #FFF;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 30px
}
.resetPassword {
    width: 33%;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.5);
    padding: 30px;
}
.resetPassword h2 {
    font-size: 35px;
    font-weight: 200;
    margin-bottom: 30px;
    color: #fff;
    text-transform: uppercase;
}
.input_email{
    width: 100%;
    padding: 15px 10px 15px;
    font-size: 14px;
    background: transparent;
    border: 2px solid #537b35;
    outline: none;
    margin-bottom: 26px;
    color: #fff;
    font-family: Arial, sans-serif;
}
.input_email {
    background: url("../images/image_login/e-mail.png") no-repeat 356px 11px;
    background-size: 25px;
}
.resetPasswordButton p {
    text-align: center;
    margin-top: 40px;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.resetPasswordButton p a {
    color: #fff;
    font-weight: 600;
    padding: 8px 20px;
    border: 1px solid #fff;
}
.resetPasswordButton p a span {
    font-size: 18px;
}

.resetPasswordButton p a:hover {
    color: #537b35;
    border: 1px solid #537b35;
}
.resetPasswordButton > input {
    font-size: 16px;
    padding: 10px 65px;
    background-color: #537b35;
    color: #FFF;
    border: none;
    border-radius: 0px;
    outline: none;
    float:none;
    cursor: pointer;
    margin: 0 auto;
}

.resetPasswordButton > input:hover {
    background-color: #fff;
    color: #537b35;
}
/*end css reset password*/

/*change password style*/
.changePassword {
    width: 33%;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.5);
    padding: 30px;
}
.changePassword h2 {
    font-size: 35px;
    font-weight: 200;
    margin-bottom: 30px;
    color: #fff;
    text-transform: uppercase;
}
.input_password{
    width: 100%;
    padding: 15px 10px 15px;
    font-size: 14px;
    background: transparent;
    border: 2px solid #537b35;
    outline: none;
    margin-bottom: 26px;
    color: #fff;
    font-family: Arial, sans-serif;
}
.input_password {
    background: url("../images/image_login/password.png") no-repeat 356px 11px;
    background-size: 25px;
}
.changePasswordButton p {
    text-align: center;
    margin-top: 40px;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.changePasswordButton p a {
    color: #fff;
    font-weight: 600;
    padding: 8px 20px;
    border: 1px solid #fff;
}
.changePasswordButton p a span {
    font-size: 18px;
}

.changePasswordButton p a:hover {
    color: #537b35;
    border: 1px solid #537b35;
}
.changePasswordButton > input {
    font-size: 16px;
    padding: 10px 65px;
    background-color: #537b35;
    color: #FFF;
    border: none;
    border-radius: 0px;
    outline: none;
    float:none;
    cursor: pointer;
    margin: 0 auto;
}

.changePasswordButton > input:hover {
    background-color: #fff;
    color: #537b35;
}
/*END change password style*/

/*style chi tiết ngày học*/
.detail_day{
    margin: 0 auto;
    width: 1200px;
    background-color: #f8f8f8;
    /*text-align: center;*/

}
.detail_day>div:first-child{
    text-transform: capitalize;background: #f8f8f8;padding-bottom: 20px;padding-top: 20px;margin-left: 10px
}
.detail-outside{
    background-color: white;
    /*padding : 20px;*/
    /*color: #FFF;*/
    /*font-family: Arial, sans-serif;*/
    font-family: Helvetica Neue,Helvetica,Arial,\\6587\6CC9\9A5B\6B63\9ED1,WenQuanYi Zen Hei,Hiragino Sans GB,\\5137\9ED1 Pro,LiHei Pro,Heiti TC,\\5FAE\8EDF\6B63\9ED1\9AD4,Microsoft JhengHei UI,Microsoft JhengHei,sans-serif;
}
.main-detail-day>div:first-child>div:first-child{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f2f2f2;
}
.main-detail-day{
    padding-bottom: 30px;
}
.main-detail-day>div:first-child{
    background-color: white;
    margin-left: 36px;
    margin-right: 36px;
}
.content-detail > div:first-child > div:first-child{
    margin: 0 auto;
}
.img-pto{
    width: 125px;
    height: 150px;
    /*margin: 0 auto;*/

}
.img-pto img{
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-left: 10px;
}
.content-left-detail{
    margin-top: 20px;
}
.content-left-detail > div:nth-child(2){
    margin-left: 10px;
}
.content-left-detail > div:nth-child(2) > div:nth-child(even){
    margin-top: 10px;
}
.content-left-detail >div:nth-child(2)>div:nth-child(3){
    margin-top: 20px;
}
.content-left-detail >div:nth-child(2)>div:nth-child(5){
    margin-top: 20px;
}

                /*.left-detail>div:nth-child(4){*/
                    /*width: 100%;*/
                    /*margin-top: 20px;*/
                    /*padding-bottom: 20px;*/
                    /*!*text-align: center;*!*/
                    /*!*background-color: red;*!*/
                /*}*/
                /*.left-detail>div:nth-child(3){*/
                    /*text-align: center;*/
                    /*font-weight: bold;*/
                    /*font-size: 20px;*/
                    /*margin-top: 50px;*/
                /*}*/
                /*.left-detail>div:nth-child(4)>div:first-child{*/
                    /*width: 60%;*/
                    /*margin: 0 auto;*/
                    /*height: 60px;*/
                    /*line-height: 20px;*/
                    /*overflow: hidden;*/
                    /*!*text-align: center;*!*/
                    /*text-overflow: ellipsis;*/
                    /*-webkit-line-clamp: 3;*/
                    /*display: -webkit-box;*/
                    /*-webkit-box-orient: vertical;*/
                /*}*/
.left-detail{
    /*margin-left: 50px;*/
    margin-top: 30px;
    text-transform: capitalize;
}
                /*.left-detail>div:first-child{*/
                    /*font-weight: 500;*/
                    /*font-size: 20px;*/
                    /*text-align: center;*/

                /*}*/
                /*.left-detail>div:nth-child(5){*/
                    /*text-underline: #00A4E4;*/
                    /*text-decoration: underline;*/
                    /*text-align: center;*/
                    /*margin-bottom: 20px;*/
                /*}*/

.left {
    width: 700px !important;
    padding-bottom: 15px;
    padding-top: 15px;
    min-height: auto !important;
    padding-right: 0;
    float: left;
    border-radius: 5px;
    background-color: #f8f8f8;
}


.tip {
    background: #f8f8f8;
    border: 1px solid #ccc;
    /*padding: 10px;*/
    /*font-size: 1.2em;*/
    position: relative;
    width: 100%;
}

.tip:before {
    position: absolute;
    top: -14px;
    left: 98px;
    display: inline-block;
    border-right: 14px solid transparent;
    border-bottom: 14px solid #fff;
    border-left: 14px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

.tip:after {
    position: absolute;
    top: -12px;
    left: 99px;
    display: inline-block;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #f8f8f8;
    border-left: 12px solid transparent;
    content: '';
}

.tip.left:before {
    border-top: 14px solid transparent;
    border-right: 14px solid #f8f8f8;
    border-bottom: 14px solid transparent;
    border-right-color: rgba(0, 0, 0, 0.2);
    left: -28px;
    top: 20px;
}

.tip.left:after {
    border-top: 12px solid transparent;
    border-right: 12px solid #f8f8f8;
    border-bottom: 12px solid transparent;
    left: -24px;
    top: 22px;
}

.left-detail-plus{
    background: white;margin-left: 35px;border-radius: 5px;padding-top: 10px;
}
.right-detail-plus{
    background: white;margin-left: 38px;border-radius: 5px
}
.right-detail{
    text-transform: capitalize;
    margin-top: 30px;
    padding-bottom: 30px;
    /*max-width: 100px;*/
}
.timetable_first{
    width: 56%;
    margin: 0 auto;
}
.timetable_first>div:nth-child(even){
    background-color: #f2f2f2
}
.right-detail>div:nth-child(4){
    /*text-align: center;*/
    margin-top: 30px;
    font-weight: bold;
    font-size: 15px;
}
.right-detail>div:nth-child(3){
    margin-top: 20px;
}
.right-detail>div:nth-child(5){
    margin-top: 30px;

}
.h3-margin{
    margin-top: 7px;
    margin-bottom: 10px;
}
.main-detail-day >div:last-child{
    padding: 20px;
}
.right-detail>div:nth-child(5)>div:first-child{
    width: 60%;
    margin: 0 auto;
}
.right-detail>div:nth-child(7)>div:first-child{
    width: 80%;
    margin: 0 auto;
}
.right-detail>div:nth-child(6){
    margin-top: 20px;
    /*margin-bottom: 40px;*/
}
.right-detail>div:nth-child(7){
    margin-top: 20px;
    margin-bottom: 40px;
}
.line1{
    border: 1px solid darkgrey;
    padding: 5px;
}
.timetable>div:nth-child(even){
    background-color: #f2f2f2
}
.title-text{
    padding-left: 50px;
}
.title-text:nth-child(2){
    padding-left: 20px;
}
/*END style chi tiết ngày học*/

/*style star*/
div.stars {
    width: 200px;
    display: inline-block;
    /*margin-left: 10px;*/
}

input.star { display: none; }

label.star {
    float: right;
    padding: 10px;
    font-size: 20px;
    color: #444;
    transition: all .2s;
}

input.star:checked ~ label.star:before {
    content: '\f005';
    color: #FD4;
    transition: all .25s;
}

input.star-5:checked ~ label.star:before {
    color: #FE7;
    text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
    content: '\f006';
    font-family: FontAwesome;
}
/*END style star*/

/*style chi tiet khoa hoc*/
.checked{
    color: orange;
}
.stars-bottom span{
    margin-right: 10px;
    font-size: 20px;
}
.left-text>div:nth-child(even){
    margin-top: 10px;
}
.left-text>div:nth-child(3){
    margin-top: 30px;
}
.rate>div:first-child{
    padding-top: 14px;
    margin-left: 15px;
}
.rate>div:nth-child(3){
    padding-top: 14px;margin-left: 10px
}
.right-text > div:first-child >div:nth-child(odd){
    margin-top: 10px;
    margin-bottom: 20px;
}
.right-text > div:first-child > div:nth-child(even){
    background-color: red;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    color: white;
    border-radius: 5px;
}
.right-text > div:first-child > div:nth-child(even):hover{
    background-color: white;
    color: red;
    cursor: pointer;
    border: 1px solid black;
}
.right-text > div:first-child > div:nth-child(3){
    /*background-color: #ffc120;*/
    background-color: #ffc120;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    color: white;
    border-radius: 5px
}
.right-text > div:first-child > div:nth-child(3):hover{
    /*background-color: #ffc120;*/
    background-color: white;
    color: #ffc120;
    cursor: pointer;
    border: 1px solid black;
}
.right-text > div:first-child > div:first-child{
    font-size: 20px;
}.right-text > div:first-child{
     width: 100%;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    margin-top: 30px;
 }
.lesson-detail>div:first-child>div:first-child{
    /*width: 90%;*/
    padding: 5px;
    border-radius: 5px;
}
.lesson-detail>div:first-child>div:first-child>div:first-child{
    /*width: 90%;*/
}
.lesson-detail>div:first-child{
    width: 60%;
    margin: 0 auto;
}
.lesson-detail{
    margin: 0 auto;
    background-color: white;
    margin-top: 10px;
    border-radius: 5px;
    /*pa: 20px;*/
}
fieldset {
    width: 60%;
    margin-top: 20px;
    margin: 0 auto;
    border: 1px solid silver;
    padding: 8px;
    border-radius: 4px;
}
fieldset>div{
    margin: 0 auto;
    margin-bottom: 20px;
    padding-left: 25px;
}
fieldset>div>div{
     margin-right: 10px;
 }
.load-more{
    margin: 0 auto;width: 20%;
}
legend {
    padding: 2px;
}
.week{
    line-height: 30px;
}
.dayOfWeek{
    border-radius: 50%;border: 1px solid black;text-align: center;width: 30px;height: 30px;line-height: 30px;
}
.dayOfWeek:hover{
    background-color: greenyellow;
    color: white;
    border: 1px solid greenyellow;
}
.tab-rate{
    width: 60%;border: 1px solid lightgrey;padding: 5px;margin: 0 auto;border-radius: 5px;
}
.tab-rate > div:first-child{
    width: 95%;margin: 0 auto;
}
.tab-rate > div:first-child > div {
    padding: 10px;
}
.tab-rate > div:nth-child(2){
    width: 95%;margin: 0 auto;border: 1px solid black
}
.tab-rate > div:nth-child(2) > div:first-child{
    border-right: 1px solid black
}
.tab-rate > div:nth-child(2) > div:first-child > div:first-child{
    margin: 26px 26px 10px 17px;font-size: 26px
}
.tab-rate > div:nth-child(2) > div:first-child > div:last-child{
    margin: 0px 0px 20px 16px
}
.user-comment > div:first-child > div:first-child{
    width: 65px;
    height: 65px;
    margin-top: 10px;

}
.user-comment img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.user-comment{
    width: 95%;
    margin: 0 auto;
    margin-top: 30px;
}
.right-user-comment>div:nth-child(2) .right-user-comment>div:nth-child(3){
    margin-top: 10px;
}
.right-user-comment{
    margin-left: 20px;
}
.stars-bottom-comment span{
    margin-top: 5px;
    margin-right: 10px;
    /*font-size: 20px;*/
}
/*END style chi tiet khoa hoc*/

/*giỏ hàng style*/
.card-outside{
    background-color: #f8f8f8;
    padding : 20px;

    /*background: url("../images/image_login/backgroud-gym.jpg");*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    /*background-position: center;*/
    /*background-size: cover;*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*color: #FFF;*/
    /*font-family: Arial, sans-serif;*/
    font-family: Helvetica Neue,Helvetica,Arial,\\6587\6CC9\9A5B\6B63\9ED1,WenQuanYi Zen Hei,Hiragino Sans GB,\\5137\9ED1 Pro,LiHei Pro,Heiti TC,\\5FAE\8EDF\6B63\9ED1\9AD4,Microsoft JhengHei UI,Microsoft JhengHei,sans-serif;
}
.menu-link{
    margin-bottom: 20px;
    /*background-color: red;*/
}
.cart_status{
    margin: 0 auto;
    max-width: 1200px;
    /*text-align: center;*/

}
.cart-col{
    width: 100%;
    margin: 0 auto;
}
.cart_status>div:first-child{
    /*margin-left: 15px;*/
}
.cart_status>div:first-child label  {
    display: inline-block;
}
.cart_status>div:first-child label:first-child  {
    font-weight: bold;
}
.cart-col-2{
    /*background-color: #fff;*/
    margin-left: 10px;
    float: right;
}
.shopping-cart-item{
    background-color: #fff;
    padding: 28px 20px;
    margin: 0;
    border-bottom: 0.5px solid #f8f8f8;
    border-radius: 5px;
    color: black;
}
.shopping-cart-item img{
    width: 125px;
    height: auto;
}
.shopping-cart-item div:first-child{
    width: 175px;
    height: 175px;
}
.shopping-cart-item div:first-child p{
    margin: 0 auto;
}
.shopping-cart-item>div:nth-child(2) p:nth-child(4){
    margin-top: 20px;
}
.shopping-cart-item>div:nth-child(2) p:nth-child(4) label:first-child{
    display: inline;
}
.muasau{
    display: inline;
    margin-left: 10px;
}

.cart-col-2 > div:first-child{
    padding: 20px;
    background-color: #fff;
    border: 0.5px solid #f8f8f8;
    text-align: center;
    color: black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.cart-col-2 > div:first-child>div:nth-child(2)>label{
   font-weight: bold;
}
.cart-col-2 > div:nth-child(2){
    text-align: center;
    padding: 25px;
    background-color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.cart-col-2 > div:nth-child(2)>div:first-child>label{
    color: black;
}
.cart-col-2 > div:nth-child(2) > div:nth-child(2) > label{
    font-size: 20px;
    color: red;
}
.btn-checkout {
    margin-top: 10px;
    padding: 10px;
    font-weight: bold;
}
.btn-yellow{
    background-color: #fdd835;
    color: #4a4a4a;
    font-size: 14px;
    font-weight: bold;
}

/*END giỏ hàng style*/

/*menu style*/
.menu_left{
    background-color: white;
    color: black;
    max-height: 400px;
    border-radius: 5px;
}
.menu_left p{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.menu_left img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.avatar_user{
    padding: 20px;
    border-bottom: 0.5px solid #f8f8f8;
}
.avatar_user>div:nth-child(2){
    margin-left: 20px;
}
.textUser>div:nth-child(2){
    color: rgb(136, 136, 136);
    text-transform: capitalize;
    text-decoration: none;
    cursor: pointer;
    /*margin-left: 20px;*/
}
.textUser>div:nth-child(2) a{
    /*cursor: pointer;*/
    color: rgb(136, 136, 136);
    text-transform: capitalize;
    text-decoration: none
    /*margin-left: 20px;*/
}
.pointer-user{
    cursor: pointer;
}
.change-user-infor{
    padding-top: 30px;
    padding-left: 20px;
    color: black;
}
.change-user-infor>div:first-child i{
    font-size: 20px;
    color: rgb(255, 193, 7);
}
.change-user-infor>div a{
    /*cursor: pointer;*/
    /*color: black;*/
    text-transform: capitalize;
    text-decoration: none
    /*margin-left: 20px;*/
}
.change-user-infor>div:first-child a{
    color: black;
}
.change-user-infor>div a:hover{
    /*cursor: pointer;*/
    color: orange;
    /*margin-left: 20px;*/
}
.menu-child{
    padding-top: 5px;
    padding-left: 50px;
    font-weight: normal;
    color: #CFCFCF;
}
.menu-child a{
    color: #555;
}
.lesson-menu{
    padding-top: 15px;
    padding-left: 20px;
    color: black;
}
.lesson-menu>div:first-child i{
    font-size: 20px;
    color: #63B8FF;
}
.lesson-menu>div a{
    /*cursor: pointer;*/
    color: black;
    text-transform: capitalize;
    text-decoration: none
    /*margin-left: 20px;*/
}
.lesson-menu a:hover{
    color: orange;
}
.payment-menu{
    padding-top: 15px;
    padding-bottom: 50px;
    padding-left: 20px;
    color: black;
}
.payment-menu>div:first-child i{
    font-size: 20px;
    color: #CD5C5C;
}
.payment-menu>div a{
    /*cursor: pointer;*/
    color: black;
    text-transform: capitalize;
    text-decoration: none
    /*margin-left: 20px;*/
}
.payment-menu a:hover{
    color: orange;
}

/*END menu style*/


/*style khoa hoc da hoc*/
.finished{
    max-height: 400px;
}
.custom-fieldset {
    width: 100%;
    margin-top: 40px;
    /*margin: 0 auto;*/
    /*border: 1px solid silver;*/
    padding: 8px;
    border-radius: 4px;
}
.custom-fieldset>div{
    margin: 0 auto;
    margin-bottom: 20px;
    /*padding-left: 25px;*/
}
.custom-fieldset>div>div{
    margin-right: 10px;
}
.de-cuong{
    margin-top: 30px;
    cursor: pointer;
}
.de-cuong>div:first-child>div:first-child:hover{
    background-color: white;
    color: green;
}
.btn-dahoc{
    width: 50%;padding: 10px;border: 1px solid green;background: green;color: white;margin: 0 auto;border-radius: 5px
}
.btn-dahoc:hover{
    color: green;
    background-color: white;
    cursor: pointer;
}
/*END style khoa hoc da hoc*/

/*style tab-learning*/
.tab-content{
    display: none;
}
.margin-10{
    margin-top: 10px;
}
.content-course-learned{
    width: 90%;margin: 0 auto
}
.margin-20-bottom{
    margin-bottom: 20px;
}
.content-course-learned>div:first-child{
    margin-top: 20px;
}
.tab-outside{
    border-radius: 5px;
}
.empty-div-tab{
    height: 50px;background: #f8f8f8;
}
.content-course-learned-image{
    height: 150px;padding: 0
}
.content-course-learned-image img{
    width: 100%;height: 100%
}
.da-hoc-content>div{
    margin-top: 20px;
}
.da-hoc-content{
    width: 80%;margin: 0 auto
}
.content-course-learned-text{
    border: 0.5px solid black;margin-bottom: 20px
}
.content-course-learned-text>div:nth-child(5){
    margin-top: 20px;margin-bottom: 20px
}
/*END style tab-learning*/
.menu-right-tab-course{
    background-color: white;
    max-width: 1000px !important;
    margin-left: 10px;
    width: 890px;
    border-radius: 5px;
}
.tablink:hover{
    color: #ff5722;
    cursor: pointer;
}
.tablink{
    padding: 20px;font-size: 20px
}
.active_tab{
    color: #ff5722;
    border-bottom: 1px solid #ff5722;
}
/*change password style new*/
.menu-right-chgpass{
    background-color: white;
    margin-left: 10px;
    width: 74%;
    border-radius: 5px;
}
.menu-right-chgpass > div:first-child{
    padding-top: 10px;
    padding-bottom: 10px;
}
.menu-right-chgpass > div:first-child strong{
    font-size: 20px;
    color:black;
    font-weight: 500;
}
.menu-right-chgpass > div:first-child > div:first-child{
    padding-bottom: 20px;
    border-bottom: 0.5px solid #BEBEBE;
}
.textChgPass{
    color:black;
    font-weight: 400;
}
.second-part-chgpass{
    padding-top:40px
}
.second-part-chgpass > div:first-child{
    padding-top: 10px;
}
.menu-right-chgpass > div:first-child > div:nth-child(3) {
    padding-top: 20px;
    text-align: right;
    /*margin-left: 30px;*/
}
.menu-right-chgpass button {
    text-transform: capitalize;
    font-weight: bold;
    text-align: right;
}
.input-with-label{
    text-align: right;
    color: black;
    text-transform: capitalize;
    line-height: 32px;
}
.input-with-label-right{
    color: black;
    /*text-transform: capitalize;*/
    line-height: 32px;
    margin-left: 15px;
}
.input-with-content{
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;

}
.input-with-content input{
    border: 0.5px solid #B5B5B5;
    padding: 5px;
    width: 100%;
    border-radius: 5px;
}
.padding-pwd{
    padding-top: 15px;
}
/*END change password style new*/

/*style dropdown menu*/
.dropdown-hover:hover .dropdown_infor{
    display: block;
}

.dropdown_infor{
    display: none;
    right: 127px;z-index: 2000;position: absolute;top: 28px;
}
.dropdown_infor div:nth-child(2){
    background: white;padding-top: 5px;padding-bottom: 5px;padding-left: 25px;padding-right: 25px;color: #1b1e21;
}
.dropdown_infor li{
    padding-bottom: 10px;padding-top: 10px;

}
.dropdown_infor li:hover{
    cursor: pointer;
    color: deepskyblue;
    font-weight: bold;
    font-family: Helvetica Neue,Helvetica,Arial,\\6587\6CC9\9A5B\6B63\9ED1,WenQuanYi Zen Hei,Hiragino Sans GB,\\5137\9ED1 Pro,LiHei Pro,Heiti TC,\\5FAE\8EDF\6B63\9ED1\9AD4,Microsoft JhengHei UI,Microsoft JhengHei,sans-serif;

}
.triangle-up{
    margin: 0 auto;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid white;
}

/*END dropdown menu*/

.active{
    color: #FF6600; text-transform: capitalize;
}

/*style chart body*/
.update-button{
    margin-left: 10px;margin-top: 20px;margin-bottom: 20px
}
.chart-menu{
    padding-top: 15px;
    padding-left: 20px;
    color: black;
}
.chart-menu>div:first-child i{
    font-size: 20px;
    color: #7CFC00;
}
.chart-menu>div a{
    /*cursor: pointer;*/
    color: black;
    text-transform: capitalize;
    text-decoration: none
    /*margin-left: 20px;*/
}
.chart-menu a:hover{
    color: orange;
}
.chart-infor-left{
    padding-top: 40px;
}
.chart-infor-left>div:first-child>div:nth-child(2){
    margin-top: 20px;
}
.chart-infor-left>div:first-child>div:nth-child(3){
    margin-top: 20px;
}
.chart-infor-left>div:first-child>div:first-child{
    margin-top: 20px;
}
.left-text-chart{
    position: relative;
}
.left-text-chart input{
    padding-right: 32px
}
.left-text-chart span{
    position: absolute;z-index: 500;right: 18px;top: 5px;color: darkgray
}
.right-text-chart>div:first-child{
    padding-top: 7px
}
.right-text-chart>div:nth-child(2){
    width: 150px;margin-left: 29px;position: relative
}
.right-text-chart input{
    padding-right: 32px
}
.right-text-chart span{
    position: absolute;z-index: 500;right: 5px;top: 5px;color: darkgray
}
.right-text-chart:nth-child(2){
    margin-top: 5px;
}
.right-text-chart:nth-child(3){
    margin-top: 5px;
}
.chart-infor-right>div:first-child{
    width: 330px;
    height: 175px;
}
.chart-infor-right img{
    width: 100%;
}
/*END style chart body*/

/*style user information*/
.radio-outside{
    margin-top: 10px;
}
.radio-but{
    font-size: 16px;
}
.radio-text{
    color:black;margin-left: 10px;line-height: 16px
}
.radio-outside > div:first-child > div:nth-child(3){
    margin-left: 30px;
}
.radio-outside > div:first-child > div:nth-child(1){
    margin-left: 5px;
}
.choose-image{
    /*padding-top: 30px;*/
    text-transform: capitalize;
    border-left:1px solid  #B5B5B5;
}
.choose-image> div:first-child{
    margin: 0 auto;
    width: 150px;
    height: 150px;
}
.choose-image img{
   border-radius: 50%;
    width: 150px;
    height: auto;
}
.choose-image> div:nth-child(2){
    margin: 0 auto;
    text-align: center;
    padding-left: 30%;padding-right: 30%;
    cursor: pointer;
    /*margin-left: 20px;*/
    /*width: 180px;*/
    /*height: 180px;*/
}
.choose-image> div:nth-child(2) > div{
    border:1px solid rgba(0,0,0,.09);padding-top: 7px;border-radius: 5px;color: #555
    /*margin-left: 20px;*/
    /*width: 180px;*/
    /*height: 180px;*/
}
.choose-image> div:nth-child(2) > input{
    display: none;
    /*margin-left: 20px;*/
    /*width: 180px;*/
    /*height: 180px;*/
}
.choose-image> div:nth-child(3){
    /*margin: 0 auto;*/
    text-align: left;
    margin-top: 10px;
    color: #B5B5B5;
    padding-left: 30px;
    /*margin-left: 20px;*/
    /*width: 180px;*/
    /*height: 180px;*/
}

.change{
    font-weight: 100;
    font-size: 15px;
}
/*END style user information*/

/*responsive*/
@media screen and (max-width: 1366px) {
    /*responsive cho reset pass*/
    .input_email {
        background: url("../images/image_login/e-mail.png") no-repeat 330px 11px;
    }
    /*END responsive cho reset pass*/

    /*responsive cho change pass*/
    .input_password {
        background: url("../images/image_login/password.png") no-repeat 330px 11px;
    }
    /*END responsive cho change pass*/
}
@media screen and (max-width: 1280px) {
    /*responsive cho reset pass*/
    .input_email {
        background: url("../images/image_login/e-mail.png") no-repeat 300px 11px;
    }
    /*END responsive cho reset pass*/

    /*responsive cho reset pass*/
    .input_password {
        background: url("../images/image_login/password.png") no-repeat 300px 11px;
    }
    /*END responsive cho change pass*/
}
@media screen and (max-width: 1024px) {
    /*responsive cho reset pass*/
    .input_email {
        background: url("../images/image_login/e-mail.png") no-repeat 220px 11px;
        background-size: 25px;
    }
    .resetPassword h2 {
        font-size: 25px;

    }
    .resetPasswordButton p a:hover {
        color: #537b35;
        border: none;
    }
    .resetPasswordButton p a {
        color: #fff;
        font-weight: 600;
        padding: 8px 20px;
        border: none;
    }
    /*END responsive cho reset pass*/

    /*responsive cho change pass*/
    .input_password{
        background: url("../images/image_login/e-mail.png") no-repeat 220px 11px;
        background-size: 25px;
    }
    .changePassword h2 {
        font-size: 25px;

    }
    .changePasswordButton p a:hover {
        color: #537b35;
        border: none;
    }
    .changePasswordButton p a {
        color: #fff;
        font-weight: 600;
        padding: 8px 20px;
        border: none;
    }
    /*END responsive cho change pass*/

}
